<div class="container">
    <h1 class="h1">Logged calls</h1>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th><i class="bi bi-person-fill"></i> Caller</th>
                <th><i class="bi bi-geo-alt-fill"></i> Address</th>
                <th><i class="bi bi-chat-left-text-fill"></i> Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let call of calls">
                <td>
                    {{call.callerName}}
                </td>
                <td>
                    {{call.address}}
                </td>
                <td>
                    {{call.description}}
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="gotoLogCall()">Log a call</button>
    <div class="alert alert-danger" *ngIf="!canConnect">
        Unable to connect to server. Please try again later!
    </div>
</div>